body{
	font-weight: bold;
}


.jumbotron{
	background-color: #e9ecef;
	margin-top: -60px;
}
.SlctClass table{

	font-size: 15px;
	font-weight: normal;


}
.SlctClass {
	font-weight: bold;
}

#tech {
	background-color: lightpink;
	padding-left: 5px;
	font-weight: normal;
	font-size: 15px;

	margin-left:15px;
}
#art {
	background-color: lightblue;
	padding-left: 5px;
	font-weight: normal;
	font-size: 15px;
	margin-left:15px;
}
#art{
	margin-top: -15px;
}

#lang2 {
	background-color: lightgreen;
	padding-left: 5px;
	font-weight: normal;
	font-size: 15px;
}
#lang2 {
	margin-top: -15px;
}

#langart {
	background-color: lightyellow;
	padding-left: 5px;
	font-weight: normal;
	font-size: 15px;
}

#PE {
	background-color: #00bcd4!important;
	padding-left: 5px;
	font-weight: normal;
	font-size: 15px;
	margin-right: 15px;
}
#math {
	
	background-color: #ff9800!important;
	padding-left: 5px;
	font-weight: normal;
	font-size: 15px;
	margin-right: 15px;
}
#math{
	margin-top: -15px;
}

#ss {
	
	background-color: #9e9e9e!important;
	padding-left: 5px;
	font-weight: normal;
	font-size: 15px;

	margin-right: 15px;
}

#ss{
	margin-top: -15px;
}

.slctbutton{
	width: 100%;
	height: 40px;
}

.white{
	background-color:white;
}

.core{
	background-color:lightblue;
}

.summerschool{
	background-color: #f0e68c!important;
}

div ul li:hover{
	cursor: pointer;
} 
div ul li{
	padding-top:5px;
}












.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {


padding:0px;

}